tmp/
components/
managed_components/
build/
.vscode/
.devcontainer/
sdkconfig.old
sdkconfig
dependencies.lock
.env
releases/
main/assets/lang_config.h
main/mmap_generate_emoji.h
.DS_Store
.cache
main/mmap_generate_emoji.h
*.pyc
*.bin

# 测试文件夹和文件
test/
test_*/
*_test.py
test_*.py
*.CC
*测试*
*v0.*
*v1.*
*主题*
*完成*
*bug*